.navbar{
    background-color: 	whitesmoke;
    color: black;
    display: flex;
    align-content: flex-end;

}
.navbar-brand1{
    color: black;
    padding-left: 5px;
    padding-right:10px;
 
}
.navbar-brand2{
    color: black;
    padding-left: 10px;
   
}