.jumbotron {
  height: 300;
  padding-top: 120; 
  background-image: url(https://i.imgur.com/s5nzvrG.jpg);
  background-size: cover;
  background-position: center center;
  padding-left: 100px;
}
.subtext2{
  font-size: 15px;
  /* background: black; */
  font-weight: bolder;
  color: beige;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-content: "left"; 
  text-shadow: 6px 6px 7px #000000;
  
}
.maintext2{
  font-size: 40px;
  font-weight: bolder;
  color: beige;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-content: "left"; 
  text-shadow: 6px 6px 7px #000000;
}